<br />
<img src="https://matheusgrundler.com/wp-content/uploads/2019/10/logo.png" /><br /><br />
<strong>Olá <span style="color:#EE4D64">{{ student }}</span>, sua pergunta foi respondida, veja abaixo</strong>

<p>
  <div class="pergunta">
    <p> <span style="color:#EE4D64">Pergunta/dúvida:</span> <br>{{question}}</p>

  </div>
  <div class="resposta">
    <p><span style="color:#EE4D64">Resposta:</span> <br>{{answer}}</p>

  </div>

</p>